<div class="links" routerLink="/" routerLinkActive="selected" [routerLinkActiveOptions]="{exact:
true}">
  <span class="icon">
    <img src="assets/icons/home.png">
  </span>
  Home
</div>
<div class="links" routerLink="/favorites" routerLinkActive="selected">
  <span class="icon">
    <img src="assets/icons/favorite.png">
  </span>
  Favorites
</div>
<hr>
<ng-container *ngIf="favorites.length">
  Favorites:

  <div *ngFor="let car of favorites" class="car">
    <span class="icon">
      <img src="assets/cars/{{car.id}}.png">
    </span>
    {{car.vendor}}
    <span class="btn" (click)="remove(car.id)">&times;</span>
  </div>
</ng-container>
